body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    margin-left: 25%;


  }
  .chessboard {
      width: 640px;
      height: 640px;
      margin: 20px;
      border: 5px solid #e8b854;
      border-radius: 4px;
      background: #e59110;

  box-shadow:  5px 5px 8px #bebdb6,
               -5px -5px 8px #ffffff;
  }
  .black {
      float: left;
      width: 80px;
      height: 80px;
      background-color:#576069;
      font-size:50px;
      text-align:center;
      display: table-cell;
      vertical-align:middle;
  }



  .white {
      float: left;
      width: 80px;
      height: 80px;
      background-color: white;
      font-size:50px;
      text-align:center;
      display: table-cell;
      vertical-align:middle;
  }